input[type="submit"]{
  background-color: #212121;
  color: white;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid #000000;
  border-radius: 8px;
  padding:10px 20px;
  text-decoration:none;
  font-family:sans-serif;
  font-size:11pt;
  width:50%;
}
.navbar-default{
  padding: 20px;
  background-color: #080808;
  width: 100%;
}
.navbar-default .navbar-nav > li > a{
  color: white;
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover{
  color: black;
  background-color: white;
}
.navbar-default .navbar-header .navbar-brand{
  color: #E8E8E8;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer{
  background-color: #080808;
  min-height: 30px;
  width: 100%;
  color: white;
  padding: 3px 0;
}
#error{
	color: red;
	margin: 10px;
}
